*.o
calc
cat
chvideomode
clear
colormake
column
cp
date
echo
editor
find
head
help
init
install-file
kernelinfo
kill
ln
ls
memstat
mkdir
mv
mxsh
pager
pwd
rm
rmdir
sh
tail
time
type
uname
uptime
which
