*.o
basename
cat
chmod
chroot
chvideomode
clear
colormake
column
command-not-found
cp
date
dirname
du
echo
editor
env
expr
false
find
head
help
init
kernelinfo
kill
ln
ls
memstat
mkdir
mv
pager
pwd
rm
rmdir
sleep
sort
tail
time
tr
true
type
uname
uniq
uptime
wc
which
xinstall
yes
