*.o
calc
cat
chroot
chvideomode
clear
colormake
column
command-not-found
cp
date
du
echo
editor
env
false
find
head
help
init
install-file
kernelinfo
kill
ln
ls
memstat
mkdir
mv
pager
pwd
rm
rmdir
sh
tail
time
true
type
uname
uptime
wc
which
